<main class="app-main">
  <section class="search-box">
    <fieldset>
      <legend>What are you looking for?</legend>
      <div class="input-field">
        <button class="btn-search" type="button" (click)="onSearch()">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
              d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
            ></path>
          </svg>
        </button>
        <input id="search" type="text" placeholder="" [(ngModel)]="searchText" (keyup.enter)="onSearch()" />
      </div>
      <div class="categories">
        <span [ngClass]="searchType === 'album' ? 'category--active' : 'category'" (click)="searchType = 'album'">Album</span>
        <span [ngClass]="searchType === 'artist' ? 'category--active' : 'category'" (click)="searchType = 'artist'">Artist</span>
        <span [ngClass]="searchType === 'track' ? 'category--active' : 'category'" (click)="searchType = 'track'">Track</span>
      </div>
    </fieldset>
  </section>
  <section *ngIf="(searchResults$ | async).results.total > 0" class="content">
    <ng-template [ngIf]="(searchResults$ | async).results.searchType === 'artist'">
      <h1 class="content__title">{{ 'Artist' }}</h1>
      <section class="content__main">
        <article *ngFor="let artist of (searchResults$ | async).results.data" class="result">
          <img src="{{ artist?.picture_medium }}" alt="{{ artist?.picture }}" class="result__cover" />
          <h4 class="result__name" (click)="goToDetailsPage(artist?.tracklist)" matTooltip="{{ artist?.name }}">
            {{ artist?.name }}
          </h4>
        </article>
      </section>
    </ng-template>
    <ng-template [ngIf]="(searchResults$ | async).results.searchType === 'album'">
      <h1 class="content__title">{{ 'Album' }}</h1>
      <section class="content__main">
        <article *ngFor="let album of (searchResults$ | async).results.data" class="result">
          <img src="{{ album?.cover_medium }}" alt="{{ album?.cover }}" class="result__cover" />
          <h4
            class="result__name"
            (click)="goToDetailsPage(album?.tracklist)"
            matTooltip="{{ album?.title + ' - ' + album?.artist?.name }}"
          >
            {{ album?.title }}
          </h4>
        </article>
      </section>
    </ng-template>
    <ng-template [ngIf]="(searchResults$ | async).results.searchType === 'track'">
      <h1 class="content__title">{{ 'Tracks' }}</h1>
      <section class="content__main">
        <article *ngFor="let track of (searchResults$ | async).results.data" class="result">
          <img src="{{ track?.album?.cover_medium }}" alt="{{ track?.album?.cover }}" class="result__cover" />
          <h4 class="result__name" (click)="playTrackPreview(track)" matTooltip="{{ track?.title + ' - ' + track?.artist?.name }}">
            {{ track?.title }}
          </h4>
        </article>
      </section>
    </ng-template>
  </section>
  <footer *ngIf="selectedTrack" class="player-bar">
    <section class="player">
      <div class="track-title">{{ selectedTrack?.title_short }} - {{ selectedTrack?.artist.name }}</div>
      <audio controls [src]="selectedTrack?.preview">Your browser does not support the <code>audio</code> element.</audio>
    </section>
  </footer>
</main>
