@import '../assets/css/variables';

.app-main {
  *:focus,
  *:active {
    outline: 0;
    box-shadow: none;
  }

  .search-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;

    legend {
      font-family: $font-poppins;
      font-size: 2rem;
      color: #fff;
      font-weight: 800;
      text-align: center;
      margin-bottom: 2rem;
    }

    .input-field {
      height: 4rem;
      width: 100%;
      position: relative;
    }

    .input-field input {
      height: 100%;
      width: 100%;
      border: 0;
      background: #fff;
      display: block;
      padding: 10px 2rem 10px 4rem;
      font-size: 18px;
      color: #666;
      border-radius: 34px;
    }

    input.placeholder {
      color: #ccc;
      font-size: 1.125rem;
    }

    input:-moz-placeholder {
      color: #ccc;
      font-size: 1.125rem;
    }

    input::-webkit-input-placeholder {
      color: #ccc;
      font-size: 18px;
    }

    input:hover,
    input:focus {
      outline: 0;
      box-shadow: none;
    }

    .btn-search {
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 0;
      height: 100%;
      background: transparent;
      border: 0;
      padding: 0;
      cursor: pointer;
    }

    .btn-search svg {
      fill: #ccc;
      width: 30px;
      height: 30px;
      transition: all 0.2s ease-out, color 0.2s ease-out;
    }

    .btn-search:hover,
    .btn-search:focus {
      outline: 0;
      box-shadow: none;
    }

    .btn-search:hover svg,
    .btn-search:focus svg {
      fill: #666;
    }

    .categories {
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        cursor: pointer;
      }

      .category {
        font-size: 0.875rem;
        font-family: 'Helvetica', sans-serif;
        display: inline-block;
        background: rgba(0, 0, 0, 0.6);
        padding: 0 1rem;
        line-height: 2rem;
        color: #fff;
        border-radius: 1rem;
        margin-right: 0.625rem;
      }
      .category--active {
        font-size: 0.875rem;
        font-family: 'Helvetica', sans-serif;
        display: inline-block;
        background: rgba(255, 255, 255, 0.6);
        padding: 0 1rem;
        line-height: 2rem;
        color: #000;
        border-radius: 1rem;
        margin-right: 0.625rem;
      }
    }

    @media screen and (max-width: 767px) {
      .input-field {
        margin-bottom: 20px;
        height: 50px;
      }
      input {
        padding-left: 55px;
        font-size: 16px;
      }
      .btn-search svg {
        width: 26px;
        height: 26px;
      }
    }
  }

  .content {
    font-family: $font-poppins;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    .content__title {
      padding-left: 1rem;
      font-size: 2rem;
      color: #fff;
    }

    .content__main {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
    }

    .result {
      margin: 2rem 1.25rem;
    }

    .result__cover {
      border-radius: 50%;
      width: 12rem;
      height: 12rem;
    }

    .result__name {
      display: block;
      width: 12rem;
      margin-top: 1rem;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .result__name:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    @media screen and (max-width: 767px) {
      width: 100%;

      .content__title {
        padding-left: 3rem;
      }

      .content__main {
        justify-content: center;
      }
    }
  }

  .player-bar {
    position: fixed;
    bottom: 0;
    width: 100%;

    .player {
      min-height: 3rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0 25%;
      background: rgba(27, 27, 27, 1);
    }

    .track-title {
      padding: 0 5rem 0 1rem;
      color: #fff;
    }

    audio {
      border-radius: 34px;
      width: 60%;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      margin: unset;

      .track-title {
        padding-left: 3rem;
      }
    }
  }
}
